.title {
  color: var(--title-blue);
  font-size: 48px;
  text-align: center;
  transform: rotate(10deg);
  opacity: 0;
  animation: fadeIn 1s 0.3s ease forwards;
}

@media screen and (max-width: 330px) {
  .title {
    font-size: 36px;
  }
}